.MainContent{
    min-height: 90vh;
    height: 100%;
    padding: 30px;
    width: 100vw;
    background-color: rgb(216, 216, 216);
    box-sizing: border-box;
    padding-bottom: 15vh;
}

.MainContentHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}


.ListRender{
    overflow-x: auto ;
}

.celular{
    display: none;
    text-align: center;
    margin: auto;
}

.field{
    margin: 5px;
    height: 100%;
}

.control{
    margin: 5px;
}

i{
    margin-left: 5px;
}

@media screen and (max-width: 800px){
    .MainContentHeader{
        flex-direction: column;
        padding: 10px;
    }
    .field{
        width: 100%;
    }
    .celular{
        display: block;
    }

}